@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

/* /////////////////////////////////////// * \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* /////////////////////////////////////// VARIABLES \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
:root {
    --colour-teal: #318EC2;
    --colour-lilac: #B5A8F0;
    --colour-light-grey: #DEE6EC;
    --colour-purple: #9F69B8;
    --colour-blue: #4D8BCC;
    --colour-dark-grey: #555555;
    --colour-light-black: #333333;
    --colour-white: #FFFFFF;
    --colour-black: #000000;
}

/* /////////////////////////////////////// OVERALL CONTAINER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
div.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1.25fr 5fr;
    grid-template-rows: 1fr 6fr;
}

/* /////////////////////////////////////// NAVIGATION \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
div.container > div.nav {
    background: linear-gradient(180deg, var(--colour-purple) 0%, var(--colour-blue) 91.15%);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    color: var(--colour-white);
    display: grid;
    grid-template-rows: 1fr 2.5fr 2.5fr;
    justify-content: center;
}

ul.nav-logo {
    /* background-color: rgb(0, 132, 255); */
    display: flex;
    align-items: center;
}

div.logo-title {
    display: flex;
}

div.logo-title  > img {
    width: 40px !important;
}

div.container > div.nav h1 {
    font-weight: 900;
    font-size: 32px;
    padding-top: 8px;
}

div.container > div.nav .nav-items {
    font-weight: bold;
    font-size: 24px;
    list-style: none;
    margin: 12px 0;
}

div.container > div.nav .nav-items:hover {
    color: #ffffffc3;
    background-color: #0000002d;
    width: fit-content;
    padding: 0 16px 0 8px;
    border-radius: 8px;
}

div.container > div.nav .first-nav-item:hover {
    background-color: initial;
    padding: 0;
    color: #f9f9fcee;
}

div.container > div.nav .nav-items:first-child {
    margin-top: 0;
}

div.container > div.nav .nav-items img {
    margin-right: 8px;
    width: 20px;
}

div.container > div.nav .nav-items p {
    display: inline;
}

/* /////////////////////////////////////// HEADER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
div.container > div.header,
div.container > div.main {
    grid-column: 2 / 3;
}

div.container > div.header {
    background-color: var(--colour-white);
    display: grid;
}

div.header-top {
    display: grid;
    grid-auto-flow: column;
    margin: 0 48px;
    grid-template-columns: 3fr 1fr;
}

div.header-top p {
    font-size: 18px;
    font-weight: bold;
}

div.header-top p:hover {
    color: var(--colour-purple);
}

div.header-top > div > div.search-bar {
    background-color: var(--colour-light-grey);
    height: 20px;
    min-width: 100px;
    border-radius: 16px;
    padding: 8px 16px;
    margin: auto 8px;
}

div.header-top > div > div.search-bar:hover {
    background-color: #c7ccd0;
}

div.header-top > div.search {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 40px 1fr;
}

div.header-top > div.search img {
    margin: auto;
    padding: 16px;
}

div.header-top > div.usr-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 32px;
}

div.header-bottom {
    display: grid;
    grid-template-columns: 80px 1fr 1fr;
    margin-left: 48px;
}

div.header-bottom > div.logo-container {
    display: grid;
    justify-content: space-around;
    align-content: space-around;
}

div.header-bottom > div.logo-container img {
    padding: 0 0 8px 0;
}

div.header-bottom > div.welcome {
    display: grid;
}

div.header-bottom > div.welcome p {
    font-weight: bold;
}

div.header-bottom > div.welcome p:first-of-type {
    font-size: 12px;
}

div.header-bottom > div.welcome p:last-of-type {
    font-size: 18px;
}

div.header-bottom > div.btns {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
    align-content: space-around;
}

div.header-bottom > div.btns button {
    background-color: var(--colour-teal);
    width: 135px;
    padding: 8px 16px;
    border-radius: 16px;
    color: var(--colour-white);
    border: none;
    font-weight: bold;
}

div.header-bottom > div.btns button:hover {
    background-color: #1f6892;
}

/* /////////////////////////////////////// MAIN \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
div.container > div.main {
    background-color: var(--colour-light-grey);
}